{% extends "base.html" %}
{% block title %}
Logs
{% endblock %}
{% block content %}
<h1>Logs</h1>
{% if posts %}
{% for post in posts %}
<div style="margin-bottom: 30px;">
<h3 style="line-height: 30%;"><a href="./log/{{ post.id }}">{{ post.title|safe }}</a></h3>
<p style="line-height: 30%;">by: {{ post.author|safe }}</p>
</div>
{% endfor %}
{% else %}
<p>There are no logs to show.</p>
<p><b><a href="{{ url_for('signup') }}">Be the first one! :)</a></b></p>
{% endif %}
{% endblock %}
